/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.539);
  border-radius: 10px;
}





/* Custom Navbar */
.custom-navbar {

  background-color: #f8f9fa;
  padding: 10px 20px;
}

.custom-navbar .navbar-brand {
  font-weight: bold;
  color: #333;
}

.custom-navbar .navbar-nav .nav-link {
  color: #333;
}

.custom-navbar .navbar-nav .nav-link:hover {
}
/* Responsive Navbar */
@media (max-width: 767.98px) {
  .custom-navbar .navbar-toggler {
    background-color: #333;
    border-color: #333;
  }

  .custom-navbar .navbar-toggler-icon {
    background-color: #fff;
  }

  .custom-navbar .navbar-collapse {
    background-color: #f8f9fa;
    padding: 10px;
  }

  .custom-navbar .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .custom-navbar .navbar-nav .nav-link {
    color: #333;
  }

  .custom-navbar .navbar-nav .nav-link:hover {
    color: #007bff;
  }

  .custom-navbar .dropdown-menu {
    background-color: #f8f9fa;
    border: none;
    padding: 10px;
  }

  .custom-navbar .dropdown-item {
    color: #333;
    margin-bottom: 5px;
  }

  .custom-navbar .dropdown-item:hover {
    background-color: #007bff;
    color: #fff;
  }
}
