<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock title %} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index">Tailor</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/design">Designs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/about" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  services
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/pickndrop">Pick and drop</a></li>
                  <li><a class="dropdown-item" href="/consltant">conslataant our expert designer</a></li>
                  <li><a class="dropdown-item" href="/apoinment">Book Apoinment</a></li>
                  <li><hr class="dropdown-divider"></li>  
                  <li><a class="dropdown-item" href="/policy">policy</a></li>
                  
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/about" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Pricing
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/about">price range</a></li>
                  <li><a class="dropdown-item" href="/about">garment</a></li>
                  <li><a class="dropdown-item" href="/about">service charge</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/about">policy</a></li>
                  
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signin">sign_in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cart">cart</a>
              </li>
            </ul>
            <form class="d-flex" role="search" method="get">
              <input  name="q" value="{{ query }}" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    
      {% block body %}{% endblock body %}
      <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2023–2024 Baikuntha ltd, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
    </main>

</body>
</html>