{% extends 'base.html' %}
{% block title %}contact{% endblock title %}
{% block body %}
<style>
  .signinst{
    margin: 7rem 20rem;
  }
</style>
{% if success %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hello</strong> Your data has been sent to the db thank you.
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endif %}
<div class="signinst">
  <div class=" lm-100px">

  

    <form action="signin" method="POST">
      {% csrf_token %}
      <img class="mb-4" src="static\ph1.avif" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" name="email"id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password"id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
    </form>
  </div>
  
</div>


{% endblock body %}
